.user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your Reviews
            #reviews-container-parent
                each review in reviews
                            .review-container
                                p.review-data= `${review.review}` 
                                .review-edit 
                                    p
                                        a.delete-review(href=`/delete/?id=${review._id}`) Delete
                                    p
                                        a.edit-review(href=`/edit/?id=${review._id}`) Edit
                                br
#editReviewModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Edit Review
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            textarea#review-input(name='review-input' rows='4' cols='50')
            .error-class
              p#review-error(hidden)
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Close
            button#save-review-changes.btn.btn-primary(type='button') Save changes
