.user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your Reviews
          #reviews-container-parent
            if(reviews.length > 0)
                each review in reviews
                    .review-container
                        .review-data
                          p.class= `Rating - ${review.rating}`
                          p.class= `Review - ${review.review}` 
                        .review-edit 
                            p
                                a.delete-review(href=`/delete/?id=${review._id}`) Delete
                            p
                                a.edit-review(href=`/edit/?id=${review._id}`) Edit
                        br
            else  
                        h3.no-data No reviews to Display

#editReviewModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Edit Review
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            label(for='rating-input') Rating 
            br
            input#rating-input(name='rating-input' placeholder="Enter a value between 1 to 5")
            br
            br
            label(for='review-input') Review
            textarea#review-input(name='review-input' rows='4' cols='50')
            .error-class
              p#review-error(hidden)
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Close
            button#save-review-changes.btn.btn-primary(type='button') Save changes
